<!DOCTYPE html>

{% load static %}
{% csrf_token %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} RestaurantClub {% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    </head>

    {% block content %}
        <body>
            <form action="{% url 'search_results_view' %}" method="POST">
                <input name="search" placeholder="Искать здесь..." type="search">
            </form>
            {% if errors %}
                {{ errors }}
            {% endif %}
            <br>
            Наши предложения:
            <br>
            <form method="POST">
            {% for restaurant in data %}
                <p><a href="{% url 'restaurant' rest_name=restaurant.restaurant_name %}">{{ restaurant.restaurant_name }}</a></p>
                            Описание ресторана. Средний чек ресторана. Адрес ресторана.
            </form>
                {% if restaurant.reviews.exists %}
                <p>Общий рейтинг рессторана: {{ restaurant.rating }}</p><br>
           {% endif %}
            ----------------------------------------------------------------------------
            {% endfor %}
        </body>
    {% endblock %}
</html>