<!DOCTYPE html>

{% load static %}
{% csrf_token %}

<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{% block title %} RestaurantClub {% endblock %}</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>

    {% block content %}
        <body>
			<div class="wrapper">
				<section class="content">
					<div class="container">
						<div class="header">
							<div class="main_logo">
								<a href="{% url 'main_map_restaurants' %}">
									<img src="/media/logo2.jpg" class="logo">
								</a>
							</div>
							<div class="block">
								<div class="name">
									<a href="{% url 'main_map_restaurants' %}">RestaurantClub</a>
								</div>
								<div class="serch">
									<form action="{% url 'search_results_view' %}" method="POST">
										<input name="search" placeholder="Введите название блюда..." type="text" autocomplete="off" class="serchbar">
										<input type="submit" class="button" value="">
									</form>
								</div>
							
							</div>
							<div class="error">
								{% if errors %}
								<p class="errmes">{{ errors }}</p>
								{% endif %}
							</div>
						
						</div>
						<div class="main">
							<div class="offer">
								<p class="p1">Найдите заведение по вкусу</p>
								<p class="p2">Воспользуйтесь нашим сервисом и найдите для себя подходящее заведение</p>
							</div>
						</div>
						
						<!-- =========================НОВЫЙ=========================== -->
						<!-- Наши предложения:
						<br>
						<form method="POST">
						{% for restaurant in data %}
							<p><a href="{% url 'restaurant' rest_name=restaurant.restaurant_name %}">{{ restaurant.restaurant_name }}</a></p>
						</form>
						<div class="img" >
						{% if restaurant.image.exists %}
							{% for imgs in restaurant.image %}
							<img src="/media/{{ imgs.image_restaurant }}" alt="">
						</div><br>
						{% endfor %}<br>
						{% else %}
						<br><br><br><br>
						{% endif %}<br>
						{% if restaurant.description_restaurant %}
						Описание:<br>{{ restaurant.description_restaurant }}<br>
						{% endif %}<br>
						{% if restaurant.average_check_restaurant %}
						Средний чек:<br>{{ restaurant.average_check_restaurant }} рублей.
						{% endif %}<br><br>
						{% if restaurant.location %}
						Адрес:<br>{{ restaurant.location }}
						{% endif %}<br>
			
							{% if restaurant.reviews.exists %}
							<p>Общий рейтинг рессторана: {{ restaurant.rating }}</p><br>
						{% else %}
							<br><a>Отзывов на ресторан нет. Будьте первым кто оставит отзыв.</a>
							{% endif %}<br><br>
						----------------------------------------------------------------------------
						{% endfor %} -->
					</div>
					<!---------------------------------------- Слайдер ---------------------------------------->
					<!---------------------------------------- Слайдер ---------------------------------------->
					<form method="POST" class="slider__form">
					<div class="slider_cont">
						<div class="slider">
								{% for restaurant in data %}
									<div class="slider__item">
										
										{% if restaurant.image.exists %}
											{% for imgs in restaurant.image %}
												<a href="{% url 'restaurant' rest_name=restaurant.restaurant_name %}">
													<div class="rest_logo">
														<img src="/media/{{ imgs.image_restaurant }}" alt="">
													</div>
												</a>
											{% endfor %}
										{% else %}
										
										{% endif %}
											<a href="{% url 'restaurant' rest_name=restaurant.restaurant_name %}">
												<div class="card_content">
														<div class="rest_name">
															{{ restaurant.restaurant_name.title }}
															
														</div>
													{% if restaurant.description_restaurant %}
														<div class="rest_kitchen">
															<span class="p3"> <b>Кухня </b>{{ restaurant.description_restaurant.capitalize }}</span>
														</div>
													{% endif %}
													{% if restaurant.reviews.exists %}
														<div class="rest_rate">
															 &#9733 {{ restaurant.rating }}/5
														</div>
													{% else %}
														<div class="rest_rate">
															Отзывов нет.
														</div>
													{% endif %}
												</div>
											</a>
									</div>
								{% endfor %}
						</div>
						</div>
					</form>
					<!-- подключаем jq -->
					<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
					<!-- подключаем слайдер -->
					<script src="{% static 'js/slick.min.js' %}"></script>
					<!-- подключаем скрипты -->
					<script src="{% static 'js/script.js' %}"></script>
					<!---------------------------------------- Слайдер ---------------------------------------->
					<!---------------------------------------- Слайдер ---------------------------------------->
				</section>
				<footer class="footer">
					<div class="containerf">
						
						<div class="cooperation">
							<button class="form_button js-form-button"><b>Сотрудничество</b></button>
						</div>
						<div class="download">
							<a href=""><img src="/media/appstore.png" alt=""></a>
							<a href=""><img src="/media/playmarket.png" alt=""></a>
						</div>
						
						<div class="copyright">
							&copy 2021 RestaurantClub
						</div>
					</div>
				</footer>
				
			</div>
			<div class="overlay js-overlay">
				<div class="popup js-popup">
					<h1>Оставьте свои контактные данные и мы свяжемся с вами для сотрудничества</h1>
					<div class="popup_form">
						<form action="{% url 'main_map_restaurants' %}" method="POST">
							<div class="form_container">
								<div class="form123">
									<label for="name">Введите ваше имя</label>
									<input type="text" name="name" id="name" class="data" minlength="2" maxlength="30" required>

									<label for="email">Введите ваш e-mail</label>
									<input type="email" name="email" id="e-mail" class="data" required maxlength="50">

									<label for="link">Ссылки на сайт/соц.сети</label>
									<input type="text" name="link" id="links" maxlength="255" class="data">

									<input type="submit" name="application_to_add" id="submit" class="submit">
								</div>
								<div class="form4">
									<label for="description">Прочая информация</label>
									<textarea name="description" id="myTextarea" rows="1" maxlength="1500" required></textarea>
								</div>
							</div>
						</form>
					</div>
					<div class="close-popup js-close"></div>
				</div>
			</div>
        </body>
    {% endblock %}
</html>
