<!DOCTYPE html>

{% load static %}
{% csrf_token %}

<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{% block title %} RestaurantClub {% endblock %}</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>

    {% block content %}
        <body>
			<div class="wrapper">
				<section class="content">
					<div class="container">
						<div class="header">
							<div class="main_logo">
								<img src="/media/logo.jpg" class="logo">
							</div>
							<div class="block">
								<div class="name">
									<a href="{% url 'main_map_restaurants' %}">RestaurantClub</a>
								</div>
								<div class="serch">
									<form action="{% url 'search_results_view' %}" method="POST">
										<input name="search" placeholder="Введите название блюда..." type="text" autocomplete="off" class="serchbar">
										<input type="submit" class="button" value="">
									</form>
								</div>
							</div>
							<div class="error">
								{% if errors %}
								<p class="errmes">{{ errors }}</p>
								{% endif %}
							</div>
						</div>
						<div class="main">
							<div class="offer">
								<p class="p1">Найдите заведение по вкусу</p>
								<p class="p2">Воспользуйтесь нашим сервисом и найдите для себя подходящее заведение</p>
							</div>
						</div>
						
						<!--<div class="predlog">
							Наши предложения:
							<form method="POST">
								{% for restaurant in data %}
								<p><a href="{% url 'restaurant' rest_name=restaurant.restaurant_name %}">{{ restaurant.restaurant_name }}</a></p>
							</form>
							<div class="logo_pred" >
							{% if restaurant.image.exists %}
								{% for imgs in restaurant.image %}
								<img src="/media/{{ imgs.image_restaurant }}" alt="">
							</div>
							<div class="opis_pred">
								{% if restaurant.description_restaurant %}
								Описание: {{ restaurant.description_restaurant }}
								{% endif %}
							</div>
							<div class="chek_pred">
								{% if restaurant.average_check_restaurant %}
								Средний чек: {{ restaurant.average_check_restaurant }} рублей.
								{% endif %}
							</div>
							<div class="adres_pred">
								{% if restaurant.location %}
								Адрес: {{ restaurant.location }}
								{% endif %}
							</div>
							{% endfor %}
							{% endif %}
							<div class="rating_pred">
								{% if restaurant.reviews.exists %}
								Общий рейтинг рессторана: {{ restaurant.rating }}
								{% endif %}
							</div>
							----------------------------------------------------------------------------
							{% endfor %}
						</div>-->
						<!-- =========================НОВЫЙ=========================== -->
						<!-- Наши предложения:
						<br>
						<form method="POST">
						{% for restaurant in data %}
							<p><a href="{% url 'restaurant' rest_name=restaurant.restaurant_name %}">{{ restaurant.restaurant_name }}</a></p>
						</form>
						<div class="img" >
						{% if restaurant.image.exists %}
							{% for imgs in restaurant.image %}
							<img src="/media/{{ imgs.image_restaurant }}" alt="">
						</div><br>
						{% endfor %}<br>
						{% else %}
						<br><br><br><br>
						{% endif %}<br>
						{% if restaurant.description_restaurant %}
						Описание:<br>{{ restaurant.description_restaurant }}<br>
						{% endif %}<br>
						{% if restaurant.average_check_restaurant %}
						Средний чек:<br>{{ restaurant.average_check_restaurant }} рублей.
						{% endif %}<br><br>
						{% if restaurant.location %}
						Адрес:<br>{{ restaurant.location }}
						{% endif %}<br>
			
							{% if restaurant.reviews.exists %}
							<p>Общий рейтинг рессторана: {{ restaurant.rating }}</p><br>
						{% else %}
							<br><a>Отзывов на ресторан нет. Будьте первым кто оставит отзыв.</a>
							{% endif %}<br><br>
						----------------------------------------------------------------------------
						{% endfor %} -->
					</div>
				</section>
				<footer class="footer">
					<div class="containerf">
						<div class="download">
							<a href=""><img src="/media/appstore.png" alt=""></a>
							<a href=""><img src="/media/playmarket.png" alt=""></a>
						</div>
						<div class="copyright">
							&copy 2021 RestaurantClub
						</div>
					</div>
				</footer>
			</div>
        </body>
    {% endblock %}
</html>
