<!DOCTYPE html>

{% extends "base.html" %}
{% load static %}
{% csrf_token %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Ресторан {{ restaurant_name }}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    </head>

    {% block content %}
    <body>
    {% for restaurant in data %}
    {% if restaurant %}
    Ресторан {{ restaurant.restaurant_name }}.<br>
    <div class="img" >
        {% if restaurant.image.exists %}
        {% for imgs in restaurant.image %}
        <img src="/media/{{ imgs.image_restaurant }}" alt="">
    </div>
            {% endfor %}
            {% endif %}<br>
    Меню:<br>
    {{ restaurant.menu|linebreaks }}
    {% if restaurant.description_restaurant %}
    Описание:<br>{{ restaurant.description_restaurant }}<br>
    {% endif %}<br>
    {% if restaurant.average_check_restaurant %}
    Средний чек:<br>{{ restaurant.average_check_restaurant }} рублей.
    {% endif %}<br><br>
    {% if restaurant.location %}
    Адрес:<br>{{ restaurant.location }}
    {% endif %}<br><br>
    {% endif %}
    Оставить отзыв:<br>
    {% if errors %}
        {{ errors|linebreaks }}
    {% endif %}
    <form method="POST" >
    {% for i in form %}
        {{ i }}
    {% endfor %}
        <p><button type="submit" class="btn-create">Создать</button></p>
    </form>
    {% if restaurant.reviews.exists %}
    Общий рейтинг рессторана: {{ restaurant.rating }} /5<br><br>
    {% for r in restaurant.reviews %}
    {{ r.date }}<br>
    {{ r.user_name }} поставил {{ r.stars }}. <br>
    {{ r.review }} <br><br>

    {% endfor %}

    {% else %}
    <br><a>Отзывов на ресторан нет. Будьте первым кто оставит отзыв.</a>
    {% endif %}
    <br>

    --------------------------------------------------------------------------------------
    <br>
    <br>
    {% endfor %}
    </body>
    {% endblock %}
</html>