body{
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	color: 000;
	z-index: 1;
	overflow: hidden;
	height: 100%;
}
html{
	height: 100%;
}
h1, h2, h3{
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

.wrapper{
	background: url('/media/group222.png') no-repeat center top;
	height: 100%;
	min-width: 100%;
	display: flex;
	flex-direction: column;
}
.content{
	flex: 1 0 auto;
}
.footer{
	flex: 0 0 auto;
}
.container{
	margin: 0 auto;
	width: 1700px;
	
}
.header{
	display: flex;
	position: relative;
	margin-bottom: 150px;
}
.block{
	display: flex;
    margin-top: 80px;
    margin-left: 30px;
}
.name{
    margin-right: 100px;
    color: white;
    font-size: 32px;
    font-weight: bold;
}
.name a{
	text-decoration: none;
	color: white;
} 
.main_logo{
	margin-top: 35px;
}
input{
	padding-left: 20px;
	font-size: 20px;
	outline: none;
	border: none;
}
.serch{
	
    margin-top: -10px;
	
}
.serchbar{
	width: 900px;
	height: 50px;
	border-radius: 50px;
	border: none;
}
.button{
	background:url('/media/serch.png') no-repeat;
	width: 36px;
	height: 35px;
	margin-left: -60px;
	margin-bottom: -12px;
	cursor: pointer;
}
P{
	margin-left: 110px;
	color: white;
}
.p1{
	font-size: 55px;
	font-weight: bold;
	line-height: 50px;
	width: 550px;
}
.p2{
	width: 472px;
	font-size: 28px;
	line-height: 30px;
	
}
.containerf{
	display: flex;
	margin-top: -60px;
	margin-left: auto;
	width: 1700px;
	position: relative;
	
}
.download{
	margin-right: 65vw;
	display: flex;
}
.form_button{
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 50%);
    border: none;
    color: white;
    outline: none;
    background: #198C77;
    width: 150px;
    height: 60px;
	font-size: 16px;
	position: absolute;
	left: -10vw;
	top: -10px;
	cursor: pointer;
}
.copyright{
	margin-top: 30px;
}

.error{
	position: absolute;
	top: 120px;
	left: 335px;
}
footer{
	flex-grow: 1;
}


/* ---------------------Слайдер -----------------------------*/
.slider_cont{
	margin: 0 auto;
	width: 850px;
	margin-top: 19vh;
}
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
	width: 850px;
	height: 160px;
}
/* Лента слайдов */
.slick-track{
	display: flex;
	align-items: flex-end;
	
	
}
/* Слайд */
.slick-slide{
	margin-right: 50px;
	
}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{
	outline: none;
	border: none;
}

/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}

/* конкретный слайдер */
.slider{
	position: relative;
	padding: 0 60px;
}
.slider .slick-arrow{
	position: absolute;
	top: 50%;
	z-index: 10;
	font-size: 0;
	width: 30px;
	height: 60px;
}
.slider .slick-arrow.slick-prev{
	left: 0;
	background:url('/media/left_icon-icons.com_61213.svg') 0 0 / 100% no-repeat;
}
/* Стрелка вправо */
.slider .slick-arrow.slick-next{
	left: 105%;
	background:url('/media/right_icon-icons.com_61212.svg') 0 0 / 100% no-repeat;
}
.slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 40px;
    margin-top: 0px;
}
.slider .slick-dots li{
	list-style: none;
	margin: 0px 3px;
}
.slider .slick-dots button{
	font-size: 0;
	width: 15px;
	height: 5px;
	background-color: #fff;
	border: 1px solid #000;
	border-radius: 30%;
}
.slider .slick-dots li.slick-active button{
	background-color: #000;
}



.slider__item img{
	height: 100px;
	width: 130px;
	border-radius: 10px;
}
.slider__item{
	background-color: white;
	box-shadow: 10px 6px 10px  rgba(0, 0, 0, .6);
	border-radius: 30px;
	padding: 10px 20px;
	display: flex;
}
.card_cont{
	display: flex;
	flex-direction: column;
	margin-left: 20px;
}
.slider__item .slick-slide .slick-active{

}

.slider__item{
	
}
.card_content{
	margin: 0px 20px;
	display: flex;
	flex-direction: column;

}
.rest_name{
	font-size: 20px;
	margin-bottom: 10px;
	font-weight: bold;

}
.slider__item a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.rest_kitchen{
	margin-bottom: 10px;
	font-weight: normal;
}
.overlay{
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	display: none;
}

.popup{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 40px;
	color: white;
	background: linear-gradient(257.16deg, #198C77 2.18%, #000000 96.77%);
	display: flex;
	flex-direction: column;
	border-radius: 20px;
}
.popup h1{
	margin-bottom: 30px;
}
.form_container{
	display: flex;
	
}
.form123{
	display: flex;
	flex-direction: column;
	margin-right: 50px;
}
.form123 .data{
	padding-left: 0;
	margin-bottom: 20px;
	background-color: transparent;
	color: white;
	border-bottom: 1px solid white;
}
.submit{
	margin-top: 40px;
	background: linear-gradient(88.32deg, #198C77 -18.09%, #0D1715 96.87%);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	border: none;
	color: white;
	height: 50px;
	font-size: 22px;
	cursor: pointer;
}
.form_container label{
	margin-bottom: 10px;
}
.form4{
	display: flex;
	flex-direction: column;
}
.form4 textarea{
	outline: none;
	border: none;
	background-color: transparent;
	color: white;
	border-bottom: 1px solid white;
	width: 450px;
	resize: none;
	font-size: 17px;
}
.close-popup{
	position: absolute;
	top: 30px;
	right: 30px;
	width: 25px;
	height: 25px;
	cursor: pointer;
}
.close-popup::before{
	content: '';
	background-color: #fff;
	position: absolute;
	height: 1px;
	width: 35px;
	top: 11px;
	left: -4px;
	transform: rotate(-45deg);
}
.close-popup::after{
	content: '';
	background-color: #fff;
	position: absolute;
	height: 1px;
	width: 35px;
	top: 11px;
	left: -4px;
	transform: rotate(45deg);
}











/* --------------------АДАПТИВ-------------------- */
@media screen and (max-width: 1200px) {
	.container {
		width: 1140px;
	}

}

@media screen and (max-width: 1199px) {
	.container {
		width: 1060px;
	}

}

@media screen and (max-width: 991px) {
	.container {
		width: 820px;
		
	}

}

@media screen and (max-width: 767px) {
	.container {
		width: 540px;
	}

}

@media screen and (max-width: 800px) {
	.container {
		width: 100%;
		display: flex;
        flex-direction: column;
	}
	html{
		height: 100%;
	}
	section{
		margin-left: 15px;
	}
	.wrapper{
		background: url('/media/mobilebg333test.png') no-repeat center top;
		min-width: 100%;
		min-height: 100%;
		position: fixed;
	}
	footer{
		display: none;
	}
	.block{
		flex-direction: column;
		margin-top: 40px;
		margin-left: 0px;

	}
	.logo {
		height: 40px;
	}
	.main_logo{
		margin-top: 25px;
		margin-right: 20px;
	}
	.name{
		margin-bottom: 20px;
		font-size: 25px;
		margin-right: 0;
	}
	input {
		padding-left: 10px;
		font-size: 12px;
	}
	.serchbar {
		width: 250px;
		height: 25px;
		border-radius: 50px;
		border: none;
	}
	.button{
		background:url('/media/serchmob.png') no-repeat;
		margin-left: -25px;
		margin-bottom: -25px;
		display: none;
	}
	.error{
		top: 100px;
    	left: 70px;
    	font-size: 14px;
	}
	.header{
		margin-bottom: 100px;
		margin-right: auto;
		margin-left: auto;
	}
	p{
		margin-left: 0;
	}
	.p1 {
		font-size: 20px;
		font-weight: bold;
		width: 200px;
		line-height: 20px;
	}
	.p2 {
		width: 180px;
		font-size: 14px;
		line-height: normal;
	}
	/* -------------Слайдер -----------------------*/
	.slider__item img{
		height: 60px;
    	width: 80px;
		border-radius: 10px;
	}
	.rest_name{
		margin-top: 0px;
		font-size: 16px;
		margin-bottom: 0px;
	}
	.rest_name a{
		text-decoration: none;
		color: black;
		font-weight: bold;
	}
	.rest_kitchen{
		margin-bottom: 3px;
		font-size: 12px;
	}
	.rest_rate{
		font-size: 14px;
	}
	.card_cont{
		display: flex;
		flex-direction: column;
		margin-left: 10px;
	}
	.slider__item{
		padding: 5px 10px;
		border-radius: 20px;
		box-shadow: 5px 3px 5px  rgba(0, 0, 0, .4);
	}
	.slider_cont{
		width: 300px;
		margin-top: 0;
		margin-left: 0;
	
	}
	.slick-track{
		display: flex;
		align-items: flex-start;
	}
	.slick-list {
		overflow: hidden;
		width: 350px;
		
	}
	.slider__form{
		position: absolute;
		bottom: 7%;
		right: 7%;
	}
	.slider{
		position: static;
		padding: 0;
		
	}
	.slider .slick-dots{
		display: flex;
		margin-left: -30px;
		margin-top: 0px;
	}
	.slider .slick-dots button{
		font-size: 0;
		width: 8px;
		height: 4px;
		background-color: #fff;
		border: 1px solid #000;
		border-radius: 30%;
	}
	.slider .slick-dots li{
		list-style: none;
		margin: 0px 2px;
	}
	
}
/* @media screen and (max-height: 800px) {
	.container {
		width: 100%;
	}
	section{
		margin-left: 15px;
	}
	.wrapper{
		background: url('/media/mobilebg322.png') no-repeat center top;
		min-width: 100%;
		min-height: 100%;
		position: fixed;
	}
	footer{
		display: none;
	}
	.block{
		flex-direction: column;
		margin-top: 40px;
		margin-left: 50px;
	}
	.logo {
		height: 40px;
	}
	.main_logo{
		margin-top: 25px;
	}
	.name{
		margin-bottom: 20px;
		font-size: 25px;
		margin-right: 0;
	}
	input {
		padding-left: 10px;
		font-size: 12px;
	}
	.serchbar {
		width: 200px;
		height: 20px;
		border-radius: 50px;
		border: none;
	}
	.button{
		background:url('/media/serchmob.png') no-repeat;
		margin-left: -25px;
		margin-bottom: -25px;
		display: none;
	}
	.error{
		top: 100px;
    	left: 70px;
    	font-size: 14px;
	}
	p{
		margin-left: 0;
	}
	.p1 {
		font-size: 20px;
		font-weight: bold;
		width: 200px;
		line-height: 20px;
	}
	.p2 {
		width: 180px;
		font-size: 14px;
		line-height: normal;
	}
	/* -------------Слайдер -----------------------*/
	/* .slider__item img{
		height: 60px;
    	width: 80px;
		border-radius: 10px;
	}
	.rest_name{
		margin-top: 0px;
		font-size: 16px;
		margin-bottom: 0px;
	}
	.rest_name a{
		text-decoration: none;
		color: black;
		font-weight: bold;
	}
	.rest_kitchen{
		margin-bottom: 3px;
		font-size: 12px;
	}
	.rest_rate{
		font-size: 14px;
	}
	.card_cont{
		display: flex;
		flex-direction: column;
		margin-left: 10px;
	}
	.slider__item{
		padding: 5px 10px;
		border-radius: 20px;
		box-shadow: 5px 3px 5px  rgba(0, 0, 0, .4);
	}
	.slider_cont{
		width: 300px;
		margin-top: 0;
		margin-left: 0;
	}	
	.slider__form{
		position: absolute;
		bottom: 2%;
		right: -10%;
	}
	.slick-list {
		overflow: hidden;
		width: 300px;
		height: 90px;
	}
	.slider{
		position: static;
		padding:0;
	}
	.slider .slick-dots{
		display: flex;
		margin-left: -80px;
		margin-top: 0px;
	}
	.slider .slick-dots button{
		font-size: 0;
		width: 8px;
		height: 4px;
		background-color: #fff;
		border: 1px solid #000;
		border-radius: 30%;
	}
	.slider .slick-dots li{
		list-style: none;
		margin: 0px 2px;
	}
	
} */ 


