body{
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	color: 000;
	z-index: 1;
}
h1, h2, h3{
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}
.wrapper{
	background: url('/media/group2.png') no-repeat center top;
}
.container{
	margin: 0 auto;
	width: 1700px;
	
}
.header{
	display: flex;
	position: relative;
	margin-bottom: 150px;
}
.block{
	display: flex;
    margin-top: 80px;
    margin-left: 30px;
}
.name{
    margin-right: 100px;
    color: white;
    font-size: 32px;
    font-weight: bold;
}
.name a{
	text-decoration: none;
	color: white;
} 
.main_logo{
	margin-top: 35px;
}
input{
	padding-left: 20px;
	font-size: 20px;
	outline: none;
	border: none;
}
.serch{
	
    margin-top: -10px;
	
}
.serchbar{
	width: 900px;
	height: 50px;
	border-radius: 50px;
	border: none;
}
.button{
	background:url('/media/serch.png') no-repeat;
	width: 36px;
	height: 35px;
	margin-left: -60px;
	margin-bottom: -12px;
	cursor: pointer;
}
P{
	margin-left: 110px;
	color: white;
}
.p1{
	font-size: 55px;
	font-weight: bold;
	line-height: 50px;
	width: 550px;
}
.p2{
	width: 472px;
	font-size: 28px;
	line-height: 30px;
	
}
.download{
	margin-top: 320px;
	margin-left:100px;
}
.copyr{
	color: black;
	margin-left: 1500px;
	margin-top: -20px;
}
.error{
	position: absolute;
	top: 120px;
	left: 335px;
}
/* --------------------АДАПТИВ-------------------- */
@media screen and (max-width: 1200px) {
	.container {
		width: 1140px;
	}

}

@media screen and (max-width: 1199px) {
	.container {
		width: 1060px;
	}

}

@media screen and (max-width: 991px) {
	.container {
		width: 820px;
		
	}

}

@media screen and (max-width: 767px) {
	.container {
		width: 540px;
	}

}

@media screen and (max-width: 575px) {
	.container {
		width: 100%;
	}
	section{
		margin-left: 15px;
	}
	.wrapper{
		background: url('/media/mobilebg2.png') no-repeat center top;
		min-width: 100%;
		min-height: 100%;
		position: fixed;
	}
	footer{
		display: none;
	}
	.block{
		flex-direction: column;
		margin-top: 40px;
		margin-left: auto;
		margin-right: auto;
	}
	.logo {
		height: 40px;
	}
	.main_logo{
		margin-top: 25px;
	}
	.name{
		margin-bottom: 20px;
		font-size: 25px;
		margin-right: 0;
	}
	input {
		padding-left: 10px;
		font-size: 12px;
	}
	.serchbar {
		width: 200px;
		height: 20px;
		border-radius: 50px;
		border: none;
	}
	.button{
		background:url('/media/serchmob.png') no-repeat;
		margin-left: -25px;
		margin-bottom: -25px;
		}
		p{
			margin-left: 0;
		}
		.p1 {
			font-size: 20px;
			font-weight: bold;
			width: 200px;
			line-height: 20px;
		}
		.p2 {
			width: 180px;
			font-size: 14px;
			line-height: normal;
		}

	}
	
}


