body{
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	color: 000;
	overflow: hidden;
}
h1, h2, h3{
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}
.wrapper{
	background: url('/media/background2new.jpg') no-repeat center top;
	min-height: 100%;
	min-width: 100%;
}
.container{
	margin: 0 auto;
	width: 1700px;
}
.header{
	display: flex;
	position: relative;
	margin-bottom: 150px;
}
.block{
	display: flex;
    margin-top: 80px;
    margin-left: 30px;
}
.name{
    margin-right: 100px;
    color: white;
    font-size: 32px;
    font-weight: bold;
}
.name a{
	text-decoration: none;
	color: white;
} 
.main_logo{
	margin-top: 35px;
}
input{
	padding-left: 20px;
	font-size: 20px;
	outline: none;
	border: none;
}
.serch{
	
    margin-top: -10px;
	
}
.serchbar{
	width: 900px;
	height: 50px;
	border-radius: 50px;
	border: none;
}
.button{
	background:url('/media/serch.png') no-repeat;
	width: 36px;
	height: 35px;
	margin-left: -60px;
	margin-bottom: -12px;
	cursor: pointer;
}

.rest_pic{
	height: 180px;
	max-width: 240px; 
}

.card{
	background-color: white;
	border-radius: 30px;
	width: 850px;
	display: flex;
    padding: 20px 25px 10px;
	display: grid;
    grid-template-columns: 2fr 4fr;
	column-gap: 40px;
	box-shadow: 15px 6px 10px  rgba(0, 0, 0, .2);
}

.card:not(:last-child){
    margin-bottom: 30px;
}

.card_container{
	overflow: auto; 
	height: 480px;
	margin-top: 100px;
	width: 1000px;
	margin-left: 430px;
}

.rest_name{
	font-size: 30px;
	font-weight: bold;
	/* margin-left: 300px; */
	/* padding-top: 20px; */
	display: flex;
    align-items: center;
}
.rest_logo{
	/* margin-right: 40px; */
    display: flex;
    /* align-items: flex-end; */
	justify-content: center;
    align-items: center;
}
.rest_info{
	display: flex;
    flex-direction: column;
}

.rest_opis{
	margin-bottom: 30px;
} 

.rest_adr{
	margin-bottom: 30px;
} 

.rest_rate{
	
	font-size: initial;
    font-weight: initial;
    margin-left: 10px;
	margin-top: 10px;
} 


.dish{
	/* margin-left: 300px;
	margin-top: 60px; */
	font-weight: bold;
	font-size: 22px;
}
/* .rest_logo{
	margin-left: 30px;
	margin-top: -50px;

} */
.rest_link{
	text-decoration: none;
	color: black;
}
.card_container::-webkit-scrollbar{
	width: 6px;
}
.card_container::-webkit-scrollbar-track{
	background: #d1d0d0;
	border-radius: 20px;
}
.card_container::-webkit-scrollbar-thumb{
	background: rgba(0, 0, 0);
	border-radius: 20px;
}

.containerf{
	display: flex;
	margin-top: 120px;
	margin-left: 0;
	width: 1700px;
	background-color: #fff;
	width: 100%;

}
.download{
	margin-right: 1290px;
	margin-left: 220px;
}
.copyright{
	margin-top: 20px;
}
/* -----------------Адаптив ------------------------*/
@media screen and (max-width: 1200px) {
	.container {
		width: 1140px;
	}

}

@media screen and (max-width: 1199px) {
	.container {
		width: 1060px;
	}

}

@media screen and (max-width: 991px) {
	.container {
		width: 820px;
		
	}

}

@media screen and (max-width: 767px) {
	.container {
		width: 540px;
	}

}
/* ---------------готово------------------- */
@media screen and (max-width: 800px) {
	.container {
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	body{
		overflow: auto;
		height: 100%;
	}
	html{
		height: 100%;
	}
	.wrapper{
		background: url('/media/mobilebgpage23.jpg') center top;
		min-width: 100%;
		display: flex;
		flex-direction: column;
	}
	section{
		padding: 0 15px 20px;
	}
	footer{
		display: none;
	}

	.header{
		margin-bottom: 0;
		flex: 1 0 auto;
		margin-left: auto;
    	margin-right: auto;
	}
	.block{
		flex-direction: column;
		margin-top: 40px;
		margin-left: 0;
	}
	.logo {
		height: 40px;
	}
	.main_logo{
		margin-top: 25px;
		margin-right: 20px;
	}
	.name{
		margin-bottom: 20px;
		font-size: 25px;
		margin-right: 0;
	}
	input {
		padding-left: 10px;
		font-size: 12px;
	}
	.serchbar {
		width: 250px;
		height: 25px;
		border-radius: 50px;
		border: none;
	}
	.button{
		background:url('/media/serchmob.png') no-repeat;
		margin-left: -25px;
		margin-bottom: -25px;
		display: none;
	}

	.card_container {
		margin-top: 50px;
		width: 350px;
		margin-left: auto;
		margin-right: auto;
		height: auto;
		flex: 0 0 auto;
	}
	.card_container::-webkit-scrollbar{
		width: 3px;
	}
	
	.card {
		background-color: white;
		border-radius: 20px;
		width: 330px;
		display: flex;
		padding: 5px;
		display: grid;
		grid-template-columns: 2fr 4fr;
		column-gap: 10px;
		box-shadow: 8px 5px 5px rgb(0 0 0 / 20%);
	}
	.rest_logo {
		margin-right: 0px;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		align-items: center;
		padding: 5px 5px;
	}
	.rest_pic {
		height: 70px;
		max-width: 100px;
		border-radius: 10px;
	}
	.rest_name {
		font-size: 14px;
		font-weight: bold;
		margin-left: 0px;
		padding-top: 00px;
		display: flex;
		align-items: center;
	}
	.rest_adr {
		margin-bottom: 0px;
		font-size: 11px;
		margin-bottom: 3px;
	}
	.rest_opis {
		margin-bottom: 0px;
		font-size: 11px;
		
	}
	.dish {
		font-weight: bold;
		font-size: 11px;
	}
	.s1{
		display: none;
	}
	.rest_rate{
		font-size: 14px;
		margin-top: 0;
	}
	.no_rate{
		font-size: 12px;
	}
	.card:not(:last-child) {
		margin-bottom: 10px;
	}
	.toggleable{
		font-size: 12px;
	}
}

/* @media screen and (max-height: 800px) {
	.container {
		width: 100%;
	}
	.wrapper{
		background: url('/media/mobilebg2.jpg') no-repeat center top;
		min-width: 100%;
		min-height: 100%;
		position: fixed;
	}
	section{
		padding: 0 15px;
	}
	footer{
		display: none;
	}
	.header{
		margin-bottom: 0;
	}
	.block{
		flex-direction: column;
		margin-top: 40px;
		margin-left: auto;
		margin-right: auto;
	}
	.logo {
		height: 40px;
	}
	.main_logo{
		margin-top: 25px;
	}
	.name{
		margin-bottom: 20px;
		font-size: 25px;
		margin-right: 0;
	}
	input {
		padding-left: 10px;
		font-size: 12px;
	}
	.serchbar {
		width: 200px;
		height: 20px;
		border-radius: 50px;
		border: none;
	}
	.button{
		background:url('/media/serchmob.png') no-repeat;
		margin-left: -25px;
		margin-bottom: -25px;
	}
	body{
		overflow: hidden;
	}
	.card_container {
		overflow: auto;
		height: 300px;
		margin-top: 50px;
		width: 355px;
		margin-left: auto;
		margin-right: auto;
	}
	.card_container::-webkit-scrollbar{
		width: 3px;
	}
	
	.card {
		background-color: white;
		border-radius: 20px;
		width: 330px;
		display: flex;
		padding: 5px;
		display: grid;
		grid-template-columns: 2fr 4fr;
		column-gap: 10px;
		box-shadow: 8px 5px 5px rgb(0 0 0 / 20%);
	}
	.rest_logo {
		margin-right: 0px;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		align-items: center;
		padding: 5px 5px;
	}
	.rest_pic {
		height: 70px;
		max-width: 100px;
		border-radius: 10px;
	}
	.rest_name {
		font-size: 14px;
		font-weight: bold;
		margin-left: 0px;
		padding-top: 00px;
		display: flex;
		align-items: center;
	}
	.rest_adr {
		margin-bottom: 0px;
		font-size: 11px;
		margin-bottom: 3px;
	}
	.rest_opis {
		margin-bottom: 0px;
		font-size: 11px;
		
	}
	.dish {
		font-weight: bold;
		font-size: 11px;
	}
	.s1{
		display: none;
	}
	.rest_rate{
		font-size: 14px;
		margin-top: 0;
	}
	.no_rate{
		font-size: 12px;
	}
	.card:not(:last-child) {
		margin-bottom: 10px;
	}
	.toggleable{
		font-size: 12px;
	}
} */