body{
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	color: 000;
	background: url('/media/background2.jpg') no-repeat center top;
	min-height: 100%;
}
h1, h2, h3{
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}
.container{
	margin: 0 auto;
	width: 1700px;
}
.header{
	display: flex;
	position: relative;
}
.name{
	margin-left: 30px;
	margin-top: 80px;
	color: white;
	font-size: 32px;
	width: 219px;
	height: 22px;
	font-weight: bold;
}
.logo{
	margin-top: 35px;
}
input{
	padding-left: 20px;
	font-size: 20px;
	outline: none;
	border: none;
}
.serchbar{
	margin-left: 100px;
	margin-top: 70px;
	width: 900px;
	height: 50px;
	border-radius: 50px;
	border: none;
}
.button{
	background:url('/media/serch.png') no-repeat;
	width: 36px;
	height: 35px;
	margin-left: -60px;
	margin-bottom: -12px;
	cursor: pointer;
}

.rest_pic{
	height: 180px;
	max-width: 240px; 
}

.card{
	background-color: white;
	border-radius: 30px;
	width: 850px;
	display: flex;
    padding: 20px 25px 10px;
	display: grid;
    grid-template-columns: 2fr 4fr;
	column-gap: 40px;
	box-shadow: 15px 6px 10px  rgba(0, 0, 0, .2);
}

.card:not(:last-child){
    margin-bottom: 30px;
}

.card_container{
	overflow: auto;
	height: 470px;
	margin-top: 100px;
	width: 1000px;
	margin-left: 430px;
	background-color: #49C67E
}

.rest_name{
	font-size: 30px;
	font-weight: bold;
	/* margin-left: 300px; */
	/* padding-top: 20px; */
	display: flex;
    align-items: center;
}
.rest_logo{
	/* margin-right: 40px; */
    display: flex;
    /* align-items: flex-end; */
	justify-content: center;
    align-items: center;
}
.rest_info{
	display: flex;
    flex-direction: column;
    
}

.rest_opis{
	margin-bottom: 30px;
} 

.rest_adr{
	margin-bottom: 30px;
} 

.rest_rate{
	
	font-size: initial;
    font-weight: initial;
    margin-left: 10px;
	margin-top: 10px;
} 


.dish{
	/* margin-left: 300px;
	margin-top: 60px; */
	font-weight: bold;
	font-size: 22px;
}
/* .rest_logo{
	margin-left: 30px;
	margin-top: -50px;

} */
.rest_link{
	text-decoration: none;
	color: black;
}
.card_container::-webkit-scrollbar{
	width: 6px;
	
	
}
.card_container::-webkit-scrollbar-track{
	background: #d1d0d0;

	border-radius: 20px;


}
.card_container::-webkit-scrollbar-thumb{
	background: rgba(0, 0, 0);
	border-radius: 20px;
}
.containerf{
	display: flex;
	margin-top: 170px;
	margin-left: 210px;
}
.download{
	margin-right: 1290px;
	
}
.copyr{

	margin-top: 30px;
}


