.toggleable__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height .75s cubic-bezier(0,1,0,1);
}

.toggleable__control:checked ~ .toggleable__content {
    transition-timing-function: ease-in-out;
    max-height: 100vh;
}
.toggleable__label::after{
    content: "▼";
    font-size: 0.75em;
}
.toggleable__control:checked ~ .toggleable__label::after{
    content: "▲";
}


.--hide {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}
